streamlit>=1.40
streamlit-searchbox>=0.1.24
streamlit-autorefresh>=1.0
pandas>=2.0
numpy>=1.25
plotly>=5.20
astropy>=6.0
astral>=3.2
geopy>=2.4
timezonefinder>=6.5
requests>=2.31
streamlit-js-eval>=1.0.0
streamlit-vertical-slider>=2.5.5
streamlit-extras>=0.4.0
streamlit-modal>=0.1.2
st_mui_table>=0.0.6
folium>=0.17
streamlit-folium>=0.23
